.container {
    width: 100%;
    height: 100vh;
    background: #FAFAFA;
    /* justify-content: center; */
    /* margin-left: 10%;
    margin-right: 10%; */
}

.banner {
    display: flex;
    margin-left: 156px;
    padding-top: 30px;
}

.banner-left {
    width: 50%;
}

.banner-right {
    width: 50%;
}

.section-title {
    font-weight: 700;
    font-size: 65px;
    color: #121212;
    margin-bottom: 20px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 30px;
}

.primary-button {
    width: 160px;
    height: 56px;
    background: #FF5959;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

.secondary-button {
    width: 132px;
    height: 28px;
    margin-left: 30px;
    color: #707070;
    font-weight: 600;
    font-size: 16px;
    border: none;
}

.banner-right img {
    width: 490px;
    height: 503px;
}

/*------------------------------Section Two Style------------------------- */
.section-title-two {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 15px;

}

.section-two-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 26%;
    margin-top: 10px;
    width: 691px;
    height: 50px;
}

.section-two-box {

    margin-left: 24%;
    display: flex;

}

.box-1 {
    border: 1px solid gray;
    padding: 44px 23px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 30px;
    color: #707070;

}

input[type=text] {
    border: none;
    border-bottom: 1px solid lightgreen;
    margin-bottom: 30px;
    margin-left: 29rem;
    width: 400px;
    text-align: center;
}

.btn-two {
    /* margin-top: 120px;
    margin-left: 123px; */
    display: flex;
    justify-content: center;
    /* margin-bottom: 10px; */
}

/* Section-Three-Style */
.section-three-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15%;
    margin-right: 15%;
}

.box {
    width: 290px;
    height: 350px;
    /* padding-bottom: 30px; */
    /* background: rgba(79, 157, 166, 0.1); */
    /* border-radius: 10px; */

}

.box img {
    margin-left: 23px;
    margin-top: 64px;
    margin-bottom: 20px;
}

.box h3 {
    margin-left: 23px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

.box p {
    margin-left: 23px;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
}

/* section-three background */
.first-box {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

.second-box {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.third-box {
    background: #c4b173;
    border-radius: 5px;
}

/*---------------Section Four Style-------------- */
.section-four {
    display: flex;
    margin-bottom: 80px;
    /* background-color: red; */
}

.section-four-left {
    margin-left: 13%;
    margin-right: 20%;


}

.section-four-left h2 {
    margin-left: 5%;
    margin-right: 30%;
    margin-bottom: 1px;
    /* margin-top: 70px; */
    font-weight: 700;
    font-size: 35px;
}

.section-four-left p {
    margin-left: 5%;
    margin-right: 30%;
    /* margin-top: 70px; */
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}
.section-four-left button {
    margin-left: 5%;
    /* margin-right: 30%; */
    /* margin-top: 70px; */
    width: 230px;
    height: 56px;
}

.section-four-right img {
    width: 400px;
    height: 400px;
    margin-left: -55%;
}
/*  */
.section-four-left img{
    width: 400px;
    height: 400px;
}